<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <ul>
    <% @user_videos.each do |video| %>
      <li><%=link_to video.title, "/tutorials/#{video.tutorial_id}?video_id=#{video.id}" %></li>
    <%end%>
  </ul>
  </section>

  <section>
    <h1>Friends</h1>
    <% current_user.friends.each do |friend| %>
      <%= friend.first_name %>
    <% end %>
  </section>
  <section>
    <% if current_user && current_user.github_data %>
    <h1> Github </h1>
    <ul>
      <% @facade.repos[0..4].each do |repo| %>
        <li><%= link_to "#{repo.name}", repo.url %></li>
      <%end%>
    </ul>
    <h1> Followers </h1>
    <ul>
      <% @facade.followers.each do |follower| %>
        <li><%= link_to "#{follower.handle}", follower.url %></li>
        <% data = GithubData.associated_user(follower) %>
        <% user = data.user if data %>
        <% if data %>
          <% if current_user.friendships.find_by(friend_id: user.id) %>
            <%= button_to 'Remove Friend', friendship_path(current_user.id, friend_id: user.id), method: :delete %>
          <% else %>
            <%= button_to 'Add Friend', friendships_path(friend_id: user.id), method: :post %>>
          <% end %>
        <% end %>
      <%end%>
    </ul>
    <h1> Following </h1>
    <ul>
      <% @facade.following.each do |following| %>
        <li><%= link_to "#{following.handle}", following.url %></li>
        <% data = GithubData.associated_user(following) %>
        <% user = data.user if data %>
        <% if data %>
          <% if current_user.friendships.find_by(friend_id: user.id) %>
          <div class='remove-friend'>
            <%= button_to 'Remove Friend', friendship_path(current_user.id, friend_id: user.id), method: :delete %>
          <div>
          <% else %>
            <%= button_to 'Add Friend', friendships_path(friend_id: user.id), method: :post %>>
          <% end %>
        <% end %>
      <%end%>
    <%else%>
      <%= link_to "Connect to Github", '/auth/github' %>
    <% end %>
    </ul>
  </section>
</section>
